body {
  background-image: url("/img/court-church-5823672_1280.jpg");
}

.departure {
  background-color: rgba(255, 255, 255);  
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  height: 100px;
  width: 300px;
  opacity: 90%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
}
