body {
  height: 480px;
  width: 800px;
  background-repeat: no-repeat;
  overflow: hidden;
  margin:0px;
}

.wrapper{
  position: absolute;
  overflow: hidden;
  margin: 0px;
  height: 480px;
  width: 800px;
  background: linear-gradient(45deg, hsl(195, 63%, 63%), hsl(150, 63%, 20%));
}


.clockContainer {
	display: flex;
	flex-direction: column;
  width: 280px;
  position: relative;
  left: 0px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.25);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	color: white;
}

.calendarContainer {
  display:flex;
  flex-direction:column;
  width: 460px;
  position: absolute;
  top: 0px;
  left: 300px;
  margin: 15px;
  background: rgba(255, 255, 255, 0.25);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
	border: 1px solid rgba(255, 255, 255, 0.3);
  overflow: hidden;
  color: white;
  display: none;
}


.departureContainer {
  display:flex;
  flex-direction:column;
  width: 475px;
  position: absolute;
  top: 0px;
  left: 300px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.25);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
	border: 1px solid rgba(255, 255, 255, 0.3);
  overflow: hidden;
  color: white;
  //display:none;
}

.calendar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0px;
  margin:0px;
  border-radius: 0px;
  position: relative;
  height:55px;
  font-family: sans-serif;
  font-size: 1.0em;
  line-height: 0em;
}

.departure {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0px;
  margin:0px;
  border-radius: 0px;
  position: relative;
  height:55px;
  font-family: sans-serif;
  font-size: 1.0em;
  line-height: 0em;
}

.clock{
  margin: 10px;
  width: 260px;
  text-align: center;
  font-size: 6.0em;
  font-weight:bold;
  font-family: sans-serif;
}

.weatherContainer {
  width: 260px;
  position: relative;
  left: 0px;
  margin: 10px;
  padding: 10px;
  text-align: left;
  background: rgba(255, 255, 255, 0.25);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	color: white;
	padding-bottom: 10px;
	display: inline-block;
}

.weatherTempImage{
  float:right;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.temperature{
  float:left;
  margin: 0px;
  font-size: 3.5em;
  font-weight:bold;
  font-family: sans-serif;
}

.weatherDetail{
  display:block;
  margin: 0px;
  padding: 0px;
  font-size: 0.8em;
  font-weight:normal;
  font-family: sans-serif;
}

.weatherDetail p { 
  display:block;
  float:left;
  width:50%;
}


.weatherImg{
  position: absolute;
  right: 0px;
  display: block;
  margin: 10px;
  width: 75px;
  height: 75px;
  object-fit: contain;
  transform: scale(1.5);
}

.line {
  position: absolute;
  text-align: left;
  top: 2px;
  left: 10px;
  font-weight:bold;
}

.schedule {
  position: absolute;
  text-align: right;
  bottom: 2px;
  right: 10px;
  font-size: 0.8em;
}

.delta {
  position: absolute;
  text-align: right;
  top: 2px;
  right: 10px;
  font-weight:bold;
}

.state {
  position: absolute;
  text-align: left;
  bottom: 2px;
  left: 10px;
  font-size: 0.8em;
}


