body {
  //background-image: url("/img/court-church-5823672_1280.jpg");
  background-repeat: no-repeat;
  height: 480px;
  width: 800px;
  overflow: hidden;
  margin:0px;
}

.weatherContainer {
  width: 300px;
  height: 480px;
  position: absolute;
  left: 0px;
}


.departureContainer {
  width: 500px;
  height: 480px;
  position: absolute;
  left: 300px;
  margin: 0px;
}

.departure {
  border-bottom: 1px solid red;
  background-color: rgba(200, 200, 200);  
  padding: 0px;
  margin:0px;
  border-radius: 0px;
  position: relative;
  height:47px;
  font-family: sans-serif;
  font-size: 1.0em;
  line-height: 0em;
}

.clock{
  margin: auto;
  width: 100%;
  text-align: center;
  font-size: 4.0em;
  font-weight:bold;
  font-family: sans-serif;
}

.temperature{
  margin: auto;
  width: 100%;
  text-align: center;
  font-size: 3.0em;
  font-weight:bold;
  font-family: sans-serif;
}

.weatherDetail{
  margin: auto;
  width: 100%;
  text-align: center;
  font-size: 1.0em;
  font-weight:bold;
  font-family: sans-serif;
}

.line {
  position: absolute;
  text-align: left;
  top: 0px;
  left: 4px;
  font-weight:bold;
}

.schedule {
  position: absolute;
  text-align: right;
  bottom: 0px;
  right: 4px;
  font-size: 0.8em;
}

.delta {
  position: absolute;
  text-align: right;
  top: 0px;
  right: 4px;
  font-weight:bold;
}

.state {
  position: absolute;
  text-align: left;
  bottom: 0px;
  left: 4px;
  font-size: 0.8em;
}


